.header-title
{
    span
    {
        margin-right: 5px;
        background: white;
        border:solid 1px #d2d2d2;
        border-radius: 20px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
    }
    h5
    {
        padding-top: 3px;
    }
}