.modal-header .close {
    margin-top: -30px;
}
.w-360 {
    width: 360px;
}
.m-t-20 {
    margin-top: 20px;
}
.modal-body {
    position: relative;
    padding: 0px;
}
.float-r {
    float: right;
}
.modal-footer {
    padding: 15px;
    text-align: right;
 border-top: 0;
}
label {
    font-weight: 100;
}
.required {
    color: red;
  }