<div class="modal-dialog " role="document">
    <div class="modal-content">
        <div class="modal-header header-color">
            <h4 class="modal-title w-100 font-weight-bold header">
                <p>Add Agent Profile</p>
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body mx-3">
            <form action="">
                <div class="row m-t-20">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label for=""> Client Name<span class="required">*</span></label>

                        </div>
                        <div class="col-md-8">
                            <select name="" id="" class="form-control">
                                <option value="">Client 1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label for=""> Client LOB Group<span class="required">*</span></label>

                        </div>
                        <div class="col-md-8">
                            <select name="" id="" class="form-control">
                                <option value="">Group 1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label for="">Skill Groups<span class="required">*</span></label>

                        </div>
                        <div class="col-md-8">
                            <select name="" id="" class="form-control">
                                <option value="">Skill Group 1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label for=""> Skill Tags<span class="required">*</span></label>

                        </div>
                        <div class="col-md-8">
                            <select name="" id="" class="form-control">
                                <option value="">Skill Tag 1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label for=""> First Name<span class="required">*</span></label>

                        </div>
                        <div class="col-md-8">
                            <input type="text" name="" id="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label for="">Last Name<span class="required">*</span></label>

                        </div>
                        <div class="col-md-8">
                            <input type="text" name="" id="" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label for=""> Hire Date<span class="required">*</span></label>

                        </div>
                        <div class="col-md-8">
                            <!-- <input type="text" name="" id="" class="form-control"> -->
                            <dp-date-picker></dp-date-picker>
                        </div>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label for=""> Agent Data Groups<span class="required">*</span></label>

                        </div>
                        <div class="col-md-8">
                            <select name="" id="" class="form-control">
                                <option value="">BUS RT</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer d-flex justify-content-center header-color">
            <button class="btn btn-primary float-r " data-dismiss="modal">Save</button>
        </div>
    </div>
</div>